body {
  margin: 0;
  font-family: monospace;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
  height: 80%;
}
h1 {
  margin: 40px auto;
  color: #5452b3;
  text-align: center;
  font-size: 2.5rem;
}
ul {
  padding: 0;
  list-style-type: none;
  height: 70%;
  overflow: auto;
  border: 5px dashed #e1e1e1;
}
li {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  margin: 10px auto;
}
li h4 {
  color: #5452b3;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}
footer {
  background: #eee;
  height: 20%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form {
  margin: 20px auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  margin: 16px 0 6px;
}
input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: #5452b3;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}
footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
}
